[Unit]
Description=Postgresql
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
User=core
ExecStartPre=-/usr/bin/docker kill postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStart=/usr/bin/docker run --rm --name=postgres \
                          -v /opt/coreupdate/postgres/data:/var/lib/postgresql/data \
                          --net="host" \
                          postgres:9.4
#ExecStartPost=/usr/bin/docker run --net="host" postgres:9.4 psql -h localhost -U postgres --command "CREATE USER coreos WITH SUPERUSER;"
#ExecStartPost=/usr/bin/docker run --net="host" postgres:9.4 psql -h localhost -U postgres --command "CREATE DATABASE coreupdate OWNER coreos;"

ExecStop=/usr/bin/docker kill postgres

[Install]
WantedBy=myapp.target

