[Unit]
Description=Contrived Service 3  
Requires=docker.service  
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name=contrived-service-3 -p 80:9000 lukebond/contrived-service-3  
ExecStartPost=/usr/bin/etcdctl set /domains/contrived-service-3/%H:%i running  
ExecStop=/usr/bin/docker stop contrived-service-3  
ExecStopPost=/usr/bin/etcdctl rm /domains/contrived-service-3/%H:%i

[X-Fleet]
X-Conflicts=contrived-service-*.service  
